
.searchContainer {
    font-size: 15px;
    width: 80%;
    border-collapse: collapse;
}
.searchTable {
    width: 1000px;
    height: 400px;
    margin: 50px;
    margin-top: 10px;

}

.searchCustomerTab{
    font-size: 15px;
    align-self: start;
}

.searchInputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchInput {
    display: flex;
    margin-right: 50px;
}
.searchElContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: start;
}
.InputEl {
    margin-left: 30px;
}

.searchBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.customerSearchData {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.customerfilteredList{
    margin-top: 20px;
}
.searchBtn {
    border-color: #0095ff;
    border-style: solid;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    background-color: transparent;
    margin-right: 30px;
}

.noDataFound {
    align-self: center;
    font-size: 10px;
   color: #0095ff;
    margin-top: 30px;
}